NET "out<0>"  LOC = P78 | IOSTANDARD = LVTTL;
NET "out<1>"  LOC = P74 | IOSTANDARD = LVTTL;
NET "out<2>"  LOC = P66 | IOSTANDARD = LVTTL;

NET "io<0>" LOC = P34 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io<1>" LOC = P32 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io<2>" LOC = P29 | IOSTANDARD = LVTTL | PULLDOWN;